{
  "presets": [
    ["es2015", {
      "es2015": {
        "loose": true,
        "modules": false
      }
    }],
    ["stage-3"]
  ],
  "env": {
    "coverage": {
      "plugins": [ "istanbul" ]
    }
  }
}
