{
  "root": true,
  "env": {
    "node": true
  },
  "parserOptions": {
    "sourceType": "script",
    "ecmaFeatures": {
      "impliedStrict": false
    }
  },
  "extends": [
    "eslint-config-airbnb-base",
    "plugin:ramda/recommended",
    "prettier"
  ],
  "plugins": ["eslint-plugin-ramda", "eslint-plugin-prettier", "prettier"],
  "rules": {
    "strict": [2, "global"],
    "space-before-function-paren": "off",
    "no-underscore-dangle": 0,
    "no-confusing-arrow": "off",
    "object-curly-newline": "off",
    "import/order": ["error", {
      "groups": [
        ["builtin", "external", "internal"],
        ["parent", "sibling", "index"]
      ],
      "newlines-between": "always"
    }],
    "import/extensions": [
      "error",
      "always",
      {
        "ignorePackages": true
      }
    ],
    "quotes": ["error", "single", { "avoidEscape": true }],
    "ramda/always-simplification": ["error"],
    "ramda/compose-simplification": ["error"],
    "ramda/eq-by-simplification": ["error"],
    "ramda/prefer-complement": ["error"],
    "ramda/prefer-both-either": ["error"],
    "prettier/prettier": "error"
  }
}
