{
  "root": true,
  "env": {
    "node": true
  },
  "parserOptions": {
    "sourceType": "script",
    "ecmaFeatures": {
      "impliedStrict": false
    }
  },
  "extends": [
    "airbnb-base",
    "plugin:ramda/recommended"
  ],
  "plugins": ["eslint-plugin-ramda", 
    "prettier"],
  "rules": {
    "strict": [2, "global"],
    "semi": ["error", "always", { "omitLastInOneLineBlock": true}],
    "comma-dangle": ["error", {
      "arrays": "always-multiline",
      "objects": "always-multiline",
      "imports": "always-multiline",
      "exports": "always-multiline",
      "functions": "never"
    }],
    "no-underscore-dangle": 0,
    "object-curly-newline": 0,
    "import/newline-after-import": ["error", { "count": 2 }],
    "ramda/always-simplification": ["error"],
    "ramda/compose-simplification": ["error"],
    "ramda/eq-by-simplification": ["error"],
    "ramda/prefer-complement": ["error"]
  }
}
