{
  "root": true,
  "env": {
    "node": true
  },
  "parserOptions": {
    "sourceType": "script",
    "ecmaFeatures": {
      "impliedStrict": false
    }
  },
  "extends": [
    "airbnb"
  ],
  "rules": {
    "strict": [2, "global"],
    "semi": ["error", "always", { "omitLastInOneLineBlock": true}]
  }
}
