/.idea
/.tmp
/.nyc_output
/.github
/.claude
/coverage
/docs
/node_modules
/npm-debug.log
/scripts/**/*
/test
/src
/.huskyrc
/.lintstagedrc
/babel.config.cjs
/.editorconfig
/.gitattributes
/.gitignore
/.npmignore
/.npmrc
/.nvmrc
/.c8rc.json
/.codeclimate.yml
/.commitlintrc.json
/.prettierignore
/.prettierrc
/codecov.yml
/jsdoc.cjs
/jsdoc.json
/tmp-test-bundle.js
/testem.json
/webpack.config.cjs
/webpack.config-test.web.cjs
/test-results.xml
/types/tsconfig.json
/types/test
/eslint.config.js
/RELEASE.md
/CODE_OF_CONDUCT.md
/CONTRIBUTING.md
/GOVERNANCE.md
/logo.jpg
/ramda-adjunct-*.*.*.tgz
/VERSIONS.md
/.mocharc.cjs
/.husky
/tmp-test-bundle.js.LICENSE.txt
/CLAUDE.md
