/.idea
/.tmp
/.nyc_output
/.github
/coverage
/docs
/node_modules
/npm-debug.log
/scripts/**/*
/test
/.huskyrc
/.lintstagedrc
/.babelrc
/.editorconfig
/.eslintignore
/.gitattributes
/.gitignore
/.npmignore
/.npmrc
/.nycrc
/.codeclimate.yml
/.commitlintrc.json
/.prettierignore
/.prettierrc
/codecov.yml
/jsdoc.js
/jsdoc.json
/tmp-test-bundle.js
/testem.json
/webpack.config.js
/webpack.config-test.web.js
/webpack.config-test.node.js
/test-results.xml
/types/tslint.json
/types/tsconfig.json
/types/test
/RELEASE.md
/CODE_OF_CONDUCT.md
/CONTRIBUTING.md
/GOVERNANCE.md
/logo.jpg
/ramda-adjunct-*.*.*.tgz
/VERSIONS.md
.eslintrc
/.mocharc.js
/.husky

