/.idea
/.tmp
/.nyc_output
/.github
/coverage
/docs
/node_modules
/scripts
/npm-debug.log
/srcipts
/test
/.babelrc
/.editorconfig
/.eslintignore
/.gitattributes
/.gitignore
/.npmignore
/.npmrc
/.nycrc
/.circleci
/.codeclimate.yml
/.commitlintrc.json
/.prettierignore
/.prettierrc
/tslint.json
/codecov.yml
/circle.yml
/jsdoc.js
/jsdoc.json
/tmp-test-bundle.js
/testem.json
/webpack.config.js
/webpack.config-test.web.js
/webpack.config-test.node.js
/test-results.xml
/tsconfig.json
/RELEASE.md
/ramda-adjunct-*.*.*.tgz
.eslintrc
